@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#ffff;
    --cor1:#D9D9D9;
    --cor2:#8C8C8C;
    --cor3:#DB981A;
    --cor4:#262626;
    --cor5:#0D0D0D;
}
/*<img id="menu" src="imagens/menu.png" alt="imagendo menu">*/
body{
    background-color: var(--cor0);
    padding: 0%; 
}


/*topo do site*/

header#topo{
    background-color: var(--cor4);
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0%;
    position: fixed;
    box-shadow:3px 3px 10px  rgba(0, 0, 0, 0.37);
}

picture{
    position: fixed;
}

#logo{
    width: 100px;
    height: 100px;
    margin:-10px -10px 50px 100px; 
    padding: -5px; 
    position:absolute ;
    min-width: 20px;
}

img#menu{
    height: 40px;
    width: 40px;
    padding: 0%;
    margin: 20px 10px 10px 10px;
    display: block; 
}

header>a#ent{
    color: var(--cor0);
    text-decoration: none;
    margin:auto;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 15%; 
    
}

a#ent::after{
    content: "login";
    font-family:"Material Symbols Outlined" ;
    font-size: 20px;
    vertical-align: middle;/*alinha o icone com a palavra*/

}
a#ent:hover{
    color: #8C8C8C;
    font-size: 15px;
}

@media (max-width: 600px) {
  .abr {
    display: none;
  }
}

.abr{
    margin:auto;
    margin-right: 30px;
    margin-left: 0px;
    background-color: #DB981A;
    color: #0D0D0D;
    padding: 8px;
    border-radius: 20px;
    text-decoration: none; 
    white-space: nowrap;  
}

.abr:hover{
   background-color: #926512;
}

#barra{
    transition-duration: 0.5s;
}

nav{
display: none;
}

#barra:hover>nav{
    margin: -10px 10px 10px 0px;
    background-color: var(--cor2);
    padding: 10px;
    width:150px ;
    height:180px ;
    box-shadow:3px 3px 10px  rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    display: contents;
    display: block; 
    transition-duration: 0.5s;
}
nav>a{
    color: var(--cor0);
    text-decoration: none; 
    padding: 5px;
    display: block;
    border-radius: 20px;
    background-color: var(--cor3);
    text-align: center;
}

nav>a:hover{
    background-color: #926512;
}





/*introdução do site*/
header#r2{
    background-image: url(imagens/fundo02.png);
    background-size: cover;
    background-position: center;
    padding: 200px 20px 150px 0px;
    background-color:var(--cor5);
    color: var(--cor0);
}
#r2>h1{
    margin-top: 10px;
}
#r2>h1{
   display: block;
   margin: 0px 0px 30px 10px;
   font-size: 60px;
}
#r2>p{
    margin: 0px 0px 50px 20px;
    font-size: 30px;
}
#r2>a{
    background-color:var(--cor3);
    margin: 50px 50px 50px 50px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    color: var(--cor5);
    font-weight: bolder;
}

#r2>a:hover{
    background-color: #926512;
}




/*corpo do site*/

main{
    background-color: var(--cor5);
    color: var(--cor0);
}
main>h1{
    text-align: center;
    padding: 10px;
    

}
main>p{
    text-align: center;
    margin:10px 10px 50px 10px
}




/*artigo do site, onde fica as divs imagen*/
article{
    display: flex;
    flex-wrap: wrap;
    background-color:var(--cor5);
    color: var(--cor0);
    margin: auto;
    max-width: 1000px;
    gap: 20px;
    padding: 10px; 
}

.imagen{
    padding-bottom: 5px;
    display: block;
    margin: 20px auto 20px auto;
    background-color: #262626;
    width: 46.8%;
    height: 370px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.562);
    flex: 300px;
    gap: 5px;
}

.imagen:hover{
    background-color: var(--cor0);
    color: var(--cor5);
    transition-duration: 0.5s;
}

.imagen:hover>a{
    color: #0D0D0D;
    margin: 15px 15px 0px 15px;  
}

.imagen:hover>a::after{
    color: #0D0D0D;
}

.imagen>p{
    width: 80%;
    max-height: 80px;   
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.imagen>img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;

}

.imagen>h2{
    text-align: center;
    margin: 5px;
}

.imagen>a{
  color: var(--cor0);
  text-decoration: none;
  padding: 20px;
  margin: 15px 15px -20px 15px; 
  display: block; 
}

.imagen>a::after{
   font-family: "Material Symbols Outlined";
   content:"arrow_forward" ;
   font-size: 20px;
   vertical-align: middle;/*alinha o icone com a palavra*/   
}


/*foto inferio do artigo*/
.especial{
    padding-bottom: 5px;
    display: block;
    margin: 20px auto 20px auto;
    background-color: #262626;
    width: 46%;
    height: 370px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.562);
    gap: 5px;
    min-width: 250px;
    flex: 250px;
}

.especial>img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    flex: 400px;
    flex: 0 1 400px ;
    object-fit: cover;
}

.especial>h2{
    text-align: center;
    margin: 5px;
}

.especial>a{
  color: var(--cor0);
  text-decoration: none;
  margin: 15px 15px -20px 15px; 
  display: block; 
}

.especial>a::after{
   font-family: "Material Symbols Outlined";
   content:"arrow_forward" ;
   font-size: 20px;
   vertical-align: middle;/*alinha o icone com a palavra*/    
}
.especial:hover{
    background-color: var(--cor0);
    color: var(--cor5);
    transition-duration: 0.5s;
}
.especial:hover>a{
    color: #0D0D0D;
    margin: 15px 15px 0px 15px;  
}
.e:hover:hover>a::after{
    color: #0D0D0D;
}
.especial>p{
    width: 80%;
    max-height: 80px;   
    margin: 0px 10px 0px 10px;
    text-align: center;
}






/*artigo estra do site (aside)*/
#tias{
 background-color: var(--cor1);
 color: var(--cor5);
 text-align: center;
 padding: 50px 10px 40px 10px ;
 margin-top: 10px;
}
aside{
    background-color: var(--cor1);
    color: var(--cor5);
    display: flex;
    padding-bottom: 70px;
    padding: 10px; 
    flex-wrap: wrap;
}
.extra{
    margin: 50px 10px 50px 10px;
    background-color: var(--cor2);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top:50px;
}
.extra>img{
    width: 220px;
    height: 120px;
    border-radius: 25px;
    margin: auto;
    margin-left:20px ;

}
.extra>ul{
    margin: 10px 15px 10px 10px;
}

.extra>h3{
    color: #0d0d0d83;
    font-weight: normal;
}




/*fim do site (sobre o site)*/
#tidf{
    background-color: var(--cor1);
    color: var(--cor5);
    padding: 30px;
    padding-bottom: 50px;
    text-align: center;
}

#tidf>h2{
   font-size: 35px;
   margin-bottom: 20px;
}
#tidf>h3{
     font-weight: normal;
     color:#0d0d0d93;
}

#fim{
    background-color: var(--cor1);
    color: var(--cor5);
    display: flex;
    flex-wrap: wrap;;
}
.sobre{
    margin: 20px;
    padding: 10px;
    margin: auto;
    min-width: 200px; 
    max-width: 300px;
}
.sobre>h3{
    text-align: center;
    margin: 20px;
    margin-top: 0px;
}
.sobre>p{
    width: 180px;
    height: 100px;
    text-align: center;
}





/*rodapé do site*/ 
footer{
    background-color:var(--cor5);
    color: var(--cor0);
    text-align: center;
    padding: 5px;
}
footer>p{
    margin: 10px;
}
.sobre>img{
    width: 150px;
    height: 100px;
    padding: 0px;
    margin: 0px;
}



.imagenpg{
    padding-bottom: 5px;
    display: block;
    margin: 20px auto 20px auto;
    background-color: var(--cor1);
    color: var(--cor5);
    width: 50%;
    height: 800px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.562);
    flex: 400px;
    gap: 5px;

}
.imagenpg>h2{

    text-align: center;
    margin: 5px;

}
.imagenpg>ul{
    list-style-position: inside;
    margin-left: 10px;
    margin-bottom: 10px;
}
.imagenpg>li{
   margin-bottom: 10px;
   margin-left: 20px; 
}

.imagenpgv{
    padding-bottom: 5px;
    margin: 20px auto 20px auto;
    background-color: var(--cor1);
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(27, 27, 27, 0.562);
    gap: 5px;
    min-width: 250px;
    flex:250px;
    position: relative;
    overflow: hidden;
}

.imagenpgv>h2{
    text-align: center;
    margin-bottom: 10px;
    color: var(--cor5);
}

@media (min-width: 350px) {
  .imagenpgv>iframe{
    margin: 0;
  }
}

.imagenpgv>iframe{
    left: 1;
    width: 100%;
    height: 95%;
    min-width: 300px; 
    flex: 400px; 
    position: absolute;
}



